<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:label="First Application"
        android:icon="@mipmap/ic_first_app">
        <uses-permission android:name="android.permission.READ_SMS"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          <!--  <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>-->
        </activity>
        <activity android:name=".DisplayMessageActivity" />

        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.HEADSET_PLUG" />
            </intent-filter>
        </receiver>

        <grant-uri-permission android:path="string"  android:pathPattern="string" android:pathPrefix="string" />
    </application>
</manifest>